**Assign1_Ch_2**

In [1]:
print(123)

123

In [2]:
print(98.6)

98.6

In [3]:
print('Hello world')

Hello world

**VARIABLES**

In [4]:
x = 12.2
y = 14

In [5]:
x = 100

Now the value of x will be updated

In [6]:
print(x)

100

In [7]:
hours = 35.0
rate = 12.50 
pay = hours * rate 
print(pay)

437.5

In [9]:
x = 3.9 * x * ( 1 - x )
print(x)

-5814005769.0

**Numeric Expressions**

In [2]:
xx = 2
xx = xx + 2
print(xx)

4

In [2]:
jj = 23
kk = jj % 5
print(kk)

3

In [3]:
yy = 440 * 12
print(yy)

5280

In [4]:
zz = yy / 1000
print(zz)

5.28

In [5]:
print(4 ** 3)

64

**Order of Evaluation**

In [7]:
x = 1 + 2 * 3 - 4 / 5 ** 6
print(x)

6.999744

In [9]:
x = 1 + 2 ** 3 / 4 * 5
print(int(x))

11

In [10]:
ddd = 1 + 4
print(ddd)

5

In [12]:
eee = 'hello ' + 'there'
print(eee)

hello there

In [13]:
eee = 'hello ' + 'there'
eee = eee + 1

TypeError: can only concatenate str (not "int") to str

**We can find this type of error because we can't add two diff datatypes**

In [14]:
type(eee)

str

In [15]:
type('hello')

str

In [16]:
type(1)

int

**Several Types of Numbers**

In [17]:
xx = 1
type (xx)

int

In [18]:
temp = 98.6
type(temp)

float

In [19]:
type(1)

int

In [20]:
type(1.0)

float

**Type Conversions**

In [21]:
print(float(99) + 100)

199.0

In [23]:
i = 42
type(i)

int

In [25]:
f = float(i)
print(f)
type(f)

42.0

float

**Integer Division**

In [3]:
print("A = ", 10 / 2)
print("B = ",9 / 2)
print("C = ",99 / 100)
print("D = ",10.0 / 2.0)
print("E = ",99.0 / 100.0)

A =  5.0
B =  4.5
C =  0.99
D =  5.0
E =  0.99

**String Conversions**

In [28]:
sval = '123'
type(sval)
print(sval + 1)

TypeError: can only concatenate str (not "int") to str

**This error is find because we can't add integer value in String**

In [4]:
ival = int(sval)
type(ival)
print(ival + 1)

NameError: name 'sval' is not defined

In [30]:
nsv = 'hello bob'
niv = int(nsv)

ValueError: invalid literal for int() with base 10: 'hello bob'

**Can't convert string into integer**

**User Input**

In [32]:
nam = input('Who are you? ')
print('Welcome', nam)

Who are you? Your Nightmare :)
Welcome Your Nightmare :)

**Converting User Input**

In [34]:
inp = input('Europe floor?')
usf = int(inp) + 1
print('US floor', usf)

Europe floor?3
US floor 4

**Comments in Python**

In [48]:
a = "A great Day"
# print(a)

See the commented line isn't working because of the symbol #

**Q: Write a program to prompt the user for hours and rate per hour to compute gross pay.**

In [1]:
hourly = float(input("Enter Hours = "))
rates = float(input("Enter Rate = "))
total = hourly * rates
print("totalPay = ",total)

Enter Hours = 77
Enter Rate = 67
totalPay =  5159.0